# Backend
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/library/papers/*
backend/library/*.json
backend/library/*.bin
backend/library/*.npy
backend/projects/*

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
